
@model greenhousebanner.Models.ViewModels.RegisterUserViewModel
@{
    ViewBag.Title = "Thay đổi thông tin người dùng";
    Layout = "~/Views/Shared/_ManageUserLayout.cshtml";
}
<div class="row">
    <div class="col col-md-4 col-md-offset-4">
        @using (Html.BeginForm("ChangeInfoUser", "User", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            <div class="form-horizontal">
                <div class="form-group">
                    <label>Họ tên:</label>
                    <input type="text" class="form-control" name="FullName" value="@Model.FullName">
                    @Html.ValidationMessageFor(x => x.FullName)
                </div>
                <div class="form-group">
                    <label>Email:</label>
                    <input type="text" class="form-control" name="Email" value="@Model.Email">
                    @Html.ValidationMessageFor(x => x.Email)
                </div>
                <div class="form-group">
                    <label>Tên đăng nhập:</label>
                    <input type="hidden" class="form-control" name="ID" value="@Model.ID">
                    <input type="text" class="form-control" name="Username" value="@Model.Username">
                    @Html.ValidationMessageFor(x => x.Username)
                </div>
                <div class="form-group">
                    <label>Mật khẩu cũ:</label>
                    <input type="password" class="form-control" name="OldPassword" value="">
                    <p style="color:red">@ViewBag.Error</p>
                </div>
                <div class="form-group">
                    <label>Mật khẩu mới:</label>
                    <input type="password" class="form-control" name="Password" value="">
                    @Html.ValidationMessageFor(x => x.Password)
                </div>
                <div class="form-group">
                    <label>Xác nhận lại mật khẩu Mật khẩu:</label>
                    <input type="password" class="form-control" name="ConfirmPassword">
                    <input type="hidden" class="form-control" name="IdRole" value="@Model.IdRole">
                    @Html.ValidationMessageFor(x => x.ConfirmPassword)
                </div>                     
                <button type="submit" class="btn btn-default">Sửa</button>
                <a href="@Url.Action("Index")" class="btn btn-default">Thoát</a>
            </div>
        }


    </div>

</div>

